<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="../static/CSS/find.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- Google Font -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>아이디/비밀번호 찾기</title>

    <style>

    </style>
  </head>

  <body>
    <div class="container">
      <!-- 아이디 찾기 -->
      <div class="find-box">
        <h3>아이디 찾기</h3>
        <div class="form-group">
          <label>성 함</label>
          <input id="find_name" class="form-control"/>
        </div>
        <div class="form-group">
          <label>이메일</label>
          <input id="find_email" class="form-control" placeholder="example@gmail.com" />
        </div>
        <button type="button" class="btn btn-success btn-block" onclick="findId()">아이디 찾기</button>
      </div>

      <!-- 비밀번호 찾기 -->
      <div class="find-box">
        <h3>비밀번호 찾기</h3>
        <div class="form-group">
          <label>아이디</label>
          <input id="findpw_userid" class="form-control"/>
        </div>
        <div class="form-group">
          <label>성 함</label>
          <input id="findpw_name" class="form-control"/>
        </div>
        <div class="form-group">
          <label>이메일</label>
          <input id="findpw_email" class="form-control" placeholder="example@gmail.com" />
        </div>
        <button type="button" class="btn btn-success btn-block" onclick="findPw()">비밀번호 찾기</button>
      </div>
    </div>

    <script>
      function findId() {
        let name = $('#find_name').val()
        let email = $('#find_email').val()
      
        $.ajax({
          type: 'POST',
          url: '/find/id',
          data: {
            name_give: name,
            email_give: email
          },
          success: function (response) {
            if (response['result'] === 'success') {
              alert(`당신의 아이디는: ${response['userid']}`)
              alert('로그인 페이지로 이동합니다.')
              window.location.href = '/'
            } else {
              alert('일치하는 정보가 없습니다.')
            }
          }
        })
      }
      
      function findPw() {
        let userid = $('#findpw_userid').val()
        let name = $('#findpw_name').val()
        let email = $('#findpw_email').val()
      
        $.ajax({
          type: 'POST',
          url: '/find/pw',
          data: {
            userid_give: userid,
            name_give: name,
            email_give: email
          },
          success: function (response) {
            if (response['result'] === 'success') {
              alert('등록된 이메일로 비밀번호를 발송했습니다.')
              alert('로그인 페이지로 이동합니다.')
              window.location.href = '/'
            } else {
              alert('일치하는 정보가 없습니다.')
            }
          }
        })
      }
    </script>
  </body>
</html>
